/*TINY MCE*/
body#tinymce{padding:8px;background:#fff;min-height:100vh;}

/*Base*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
*{margin:0;padding:0;box-sizing:border-box;}
html{font-size:62.5%;-webkit-text-size-adjust:100%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-rendering:optimizeLegibility;}
html[lang="en"]{opacity:0;}
html.wf-active,html.wf-inactive{opacity:1;transition:opacity .4s ease-out;}
body{color:#434343;background:#fff;font-family:'Open Sans', sans-serif;font-size:1.6rem;}
a{color:#ef4538;}
p,ul,ol{font-size: calc(1.4rem + (18 - 14) * ((100vw - 400px) / (1200 - 400))); margin: 0 0 1em 0; font-weight: 400; line-height: 1.6;}
ul,ol{padding: 0 0 1em 2em; overflow: hidden;}
ul{list-style: outside disc;}
p:last-of-type{margin: 0;}
li{position: relative;}
h1{font-size: calc(2.0rem + (40 - 20) * ((100vw - 400px) / (1200 - 400)));}
h2{font-size: calc(1.6rem + (32 - 16) * ((100vw - 400px) / (1200 - 400))); font-weight: 300;}
h3{font-size: calc(1.4rem + (24 - 14) * ((100vw - 400px) / (1200 - 400))); font-weight: 400;}
h1,h2,h3{margin: 0 0 1em; line-height: 140%;  display: block; width: 100%;}
blockquote{width:80%;max-width:700px;margin:50px auto;font-style:italic;color:#555;padding:1.2em 1.2em 1.2em 75px;border-left:8px solid #ef4538;line-height:1.6;position:relative;background:#eee;}
blockquote::before{font-family:Arial;content:"\201C";color:#ef4538;font-size:4em;position:absolute;left:10px;top:-10px;}
img{max-width:100%;height:auto;vertical-align:bottom;border:none;}
section{}
.contents{margin:0 auto; width: 100%; max-width:1200px; padding:5vw 1em; position: relative;}

/* Buttons */
.buttons{display:flex;align-items:center;justify-content:flex-start;flex-flow:row wrap;width:100%;}
.buttons.center{justify-content:center;}
.buttons.right{justify-content:flex-end;}
.button + .button{margin:0 0 0 1em;}
.button{display:inline-flex;align-items:center;margin:0;padding:1em 1.5em;background:#1e5b94;color:#fff;border-radius:.25em;line-height:1;transition:150ms ease;text-decoration:none;user-select:none;cursor:pointer;}
.button i + span,.button span + i{margin-left:.5em;}
.button:hover,.button:focus{background:#2775be;box-shadow:0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);}
.button:active{background:#16416a;box-shadow:0 2px 4px 0 rgba(50,50,93,.1);transform:translateY(1px);}
button.button,input[type="submit"].button{cursor:pointer;font-family:inherit;font-size:inherit;line-height:inherit;color:#fff;border:none;outline:none;-webkit-appearance:none;-moz-appearance:none;}
    @media (max-width 768px) {
    .button,.button + .button{margin:0 1em 1em 0;}
    }

/*Cutom RichTextRTE Styles*/
.rte_img_right{float:right;margin:0 0 10px 10px;}
.rte_img_left{float:left;margin:0 10px 10px 0;}
.rte_img_center{margin:10px auto;text-align:center;display:block;}

/*Collapser*/
.collapse_trigger{background:rgba(0,0,0,.6);color:#fff;padding:4px 8px;border-radius:2px;display:inline-block;}
.collapse_hide{height:0;overflow:hidden;opacity:0;padding:0;border:0;margin:0;}

/*Scroll to Top*/
.scrollToTop{cursor:pointer;padding:2px 1px 1px;font-size:28px;color:rgba(0,0,0,.8);text-decoration:none;position:fixed;bottom:10px;right:20px;display:none;background:rgba(255,255,255,.8);border-radius:20px;}
.scrollToTop:hover{color:rgba(0,0,0,.8);bottom:12px;}
.scrollToTop:active{bottom:8px;}

/*Responsive iFrames (Youtube vids)*/
.responsiveIframe{position:relative;padding-bottom:56.25%;padding-top:25px;height:0;clear:both;}
.responsiveIframe iframe{position:absolute;top:0;left:0;width:100%;height:100%;}

/*Header*/
.header{width:100%; z-index:10;background: #fff; box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);}
.header .contents{padding:0;}
.header .group{padding: .5em; display:flex;flex-flow:row wrap;justify-content: space-between;align-items:flex-end;}
.header .logo{width:100%;max-width:120px;}
.header .logo a{display:block;}
.header .logo img{width:100%;}
.header .mobile_icons{display:none;}
.header .mobile_icons a{color:#4e4e4e;display:flex;width:100%;height:100%;justify-content:center;align-items:center;}
.header .mobile_icons .icon{color:#4e4e4e;outline:none;border:none;background:none;font-size:2rem;width:50px;height:100%;cursor:pointer;display:flex;justify-content:center;align-items:center;}
.header .search_wrap{border:1px solid #e4e4e4;border-radius:3px;}
.header .search button{position:absolute;background:none;height:100%;cursor:pointer;outline:0;border:0;color:#222;top:50%;right:0;padding:0 10px;line-height:100%;font-size:1.2rem;transform:translateY(-50%);}
.header .search input{-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:2px;border:0;background:#fbfbfb;outline:0;width:100%;font-size:1.4rem;padding:8px 30px 8px 8px;color:#4e4e4e;font-style:italic;}
    @media (max-width 900px) {
    .header{height:72px;display:flex;flex-flow:row nowrap;justify-content:space-between;align-items:center;margin:0 auto;}
    .header .logo{max-width:160px;max-height:70px;padding:0 0 0 10px;}
    .header .search{display:none;}
    .header .mobile_icons{display:flex;flex-flow:row nowrap;height:100%;}
    }

/*Nav*/
.nav{text-align:center;user-select:none;z-index:10; margin:2em 0 1em; margin: 0;}
.nav ul{overflow:unset; margin: 0; padding: 0; line-height: 1;}
.nav li{position:relative;display:block;}
.nav a{display:block;color:#000; padding:.5em; font-size:1.4rem; font-weight: 700; text-decoration:none;transition:250ms ease; text-transform: uppercase;}
.nav a:hover,nav a:focus{color:#16416a;}
.nav li.open > a{color:#16416a;}
.nav a i{font-size:1.2rem;cursor:pointer;}
.nav ul.top{display:inline-flex;flex-flow:row wrap;align-items:center;}
.nav ul.top > li{}
.nav ul.top > li:last-child ul{left:auto;right:0;text-align:right;}
.nav ul.drop{border-radius:3px;padding:0;left:0;opacity:0;position:absolute;top:-9999px;background:#fff;white-space:nowrap;min-width:200px;box-shadow:0 4px 6px rgba(50,50,93,0.11), 0 1px 3px rgba(0,0,0,0.08);text-align:left;transition:opacity .35s;overflow:hidden;}
.nav ul.drop a{padding:10px;margin:0;font-size:1.3rem;font-weight: 500;}
.nav ul.drop a:hover,nav ul.drop a:focus{background:#f8f8f8;}
.nav li.open ul.drop{top:calc(100% + 4px);opacity:1;z-index:10;}
    @media (max-width 900px) {
    .nav{display:none;}
    }

/*Mobile Nav*/
.mobile_nav{display:none;user-select:none;background:#f8f8f8;padding:0 0 100px;position:fixed;width:100%;height:100%;top:72px;z-index:9999999;overflow-y:auto;}
.mobile_nav.open{display:block;}
.mobile_nav > .item{border-top:1px solid #e5e5e5;}
.mobile_nav > .item:last-of-type{border-bottom:1px solid #e5e5e5;}
.mobile_nav .item a{padding:20px;font-size:1.6rem;display:block;color:#666;background:#fff;text-decoration:none;transition:all .2s ease 0;}
.mobile_nav .item:hover{}
.mobile_nav .drop_trigger{position:relative;display:flex;flex-flow:row wrap;align-items:center;background:#fff;}
.mobile_nav .drop_trigger > a{position:relative;width:calc(100% - 63px);background:#fff;}
.mobile_nav .drop_trigger > .drop_trigger_icon{border:none;outline:none;border-left:1px solid #e5e5e5;width:63px;height:63px;background:#fff;font-size:1.6rem;cursor:pointer;display:flex;justify-content:center;align-items:center;}
.mobile_nav .drop_trigger.open{}
.mobile_nav .drop_trigger .drop_menu{width:100%;max-height:0;overflow:hidden;z-index:9999;position:relative;background:rgba(0,0,0,.025);transition:max-height .15s ease-in-out;}
.mobile_nav .drop_trigger .drop_menu a{font-size:1.4rem;/*padding-left: 35px;*/border-top:1px solid #e5e5e5;background:#f8f8f8;}
.mobile_nav .drop_trigger .drop_menu .item{border-left:10px solid #e5e5e5;}
.mobile_nav .drop_trigger.open > .drop_menu{max-height:999px;}
.mobile_nav .search_wrap{height:63px;}
.mobile_nav .search button{position:absolute;background:none;cursor:pointer;outline:0;border:0;color:#646464;top:0;right:0;font-size:1.6rem;height:100%;width:63px;display:flex;align-items:center;justify-content:center;}
.mobile_nav .search input{-webkit-appearance:none;-moz-appearance:none;appearance:none;border-radius:0;border:none;background:#fff;outline:0;width:100%;padding:10px 20px;color:#666;font-style:italic;font-size:1.6rem;border-top:1px solid #e5e5e5;}
.mobile_nav .search .autocomplete-items a{padding:14px;}
.mobile_nav .mobile_closer{width:auto;height:auto;display:block;border:none;border:1px solid #e5e5e5;margin:10px auto 0;padding:10px 20px;color:#666;background:#fff;font-size:15px;z-index:1000000;}

/*Nav*/
.utility_nav{position: absolute; top:1em; right:1em; display:flex; flex-flow:row wrap; align-items:center; justify-content:center; text-align:center;user-select:none;z-index:10;}
.utility_nav ul{display:inline-flex;flex-flow:row wrap; overflow:unset; margin: 0; padding: 0; line-height: 1;}
.utility_nav li{position:relative;display:block;margin:0 0 0 .75em;}
.utility_nav a{display:block;color:#000;font-size:1.3rem;font-weight: 700;text-decoration:none;transition:250ms ease; text-transform: uppercase;}
.utility_nav a:hover,nav a:focus{color:#16416a;}
.utility_nav .social{margin:0;font-size:2rem;display:flex;justify-content:center;}
.utility_nav .social a{margin:0 .25em;position:relative;border-radius:50%; background:#1e5b94;display:flex;align-items:center;justify-content:center;padding:5px;color:#fff;text-decoration:none;width:2em;}
.utility_nav .social a:after{content:"";display:block;padding-bottom:100%;}
.utility_nav .social a:hover{background:#2775be;}
    @media (max-width 900px) {
    .utility_nav{display:none;}
    }

/*Searchbox*/
.searchbox{user-select:none;border:1px solid #e4e4e4;border-radius:3px;width:100%;overflow:hidden;max-width:300px;position:relative;margin:0 0 10px;}
.searchbox button{position:absolute;background:none;height:100%;cursor:pointer;outline:0;border:0;color:#222;top:50%;right:0;padding:0 10px;line-height:100%;font-size:1.2rem;transform:translateY(-50%);}
.searchbox input{border-radius:2px;border:0;background:#fbfbfb;outline:0;width:100%;font-size:1.4rem;padding:8px 30px 8px 8px;color:#4e4e4e;font-style:italic;}

/*Search*/
.search{display:flex;position:relative;width:100%;height:100%;user-select:none;}
.search .search_label{position:absolute!important;left:0!important;bottom:-1px!important;z-index:-1!important;opacity:0;}
.search .autocomplete-items{position:absolute;border:1px solid #e8e8e8;z-index:99;top:100%;left:0;width:100%;font-size:1.2rem;}
.search .autocomplete-items .heading{padding:6px 10px;line-height:110%;background:#e8e8e8;color:rgba(0,0,0,.8);text-transform:uppercase;border-bottom:1px solid #d4d4d4;font-weight:500;}
.search .autocomplete-items a{padding:6px 10px;line-height:110%;cursor:pointer;background:#fff;color:#2b2b2b;border-bottom:1px solid #d4d4d4;display:block;text-decoration:none;}
.search .autocomplete-items a:hover{background:#f1f1f1;}
.search .autocomplete-items a.autocomplete-active{background:#ef4438;color:#fff;}

/*Hero*/
.hero{margin: 0 auto 80px !important; background:#111; position: relative;}
.hero .image{position: relative; max-height: calc(100vh - 136px); overflow: hidden;}
.hero .image img{filter: grayscale(1); opacity: .3;}
.hero .caption{position: absolute; width: 100%; height: 100%; top: 0; left: 0; text-align: center; color: #fff; padding: 4vw; display: flex; flex-flow: column wrap; justify-content: center; align-items: center;}
.hero .title{width: 70vw; font-weight:700; font-size: calc(4rem + (65 - 40) * ((100vw - 400px) / (1200 - 400))); line-height: 1.2;}
.hero .subtext{width: 50vw; font-weight: 600; font-size: calc(1.5rem + (22 - 15) * ((100vw - 400px) / (1200 - 400))); text-transform: uppercase; margin: 1em 0;}
.hero .buttons{margin-top: 2vw;}
.hero .button{font-size: calc(1.4rem + (18 - 14) * ((100vw - 400px) / (1200 - 400)));}
    @media (max-width: 650px) {
    .hero .caption{position: relative;}
    .hero .title{width: 100%;}
    .hero .subtext{width: 100%;}
    }

/* Slideshow */
.slideshow{user-select:none;display:none;width:100%;max-width:1600px;overflow:hidden;height:auto;margin:0 auto;}
.slideshow.slick-initialized{display:block;}
.slideshow .slide{user-select:none;width:100%;position:relative;outline:none;}
.slideshow .slide.slick-current{z-index:100;}
.slideshow .slide a{user-select:none;text-decoration:none;}
.slideshow .slide img{user-select:none;width:100%;height:auto;}
.slideshow .prev{user-select:none;opacity:.2;position:absolute;cursor:pointer;top:50%;transform:translateY(-50%);background:none;left:0;z-index:100;border:none;padding:8px 20px;color:#fff;font-size:30px;transition:all .2s cubic-bezier(.25,.8,.25,1);}
.slideshow .next{user-select:none;opacity:.2;position:absolute;cursor:pointer;top:50%;transform:translateY(-50%);background:none;right:0;z-index:100;border:none;padding:8px 20px;color:#fff;font-size:30px;transition:all .2s cubic-bezier(.25,.8,.25,1);}
.slideshow:hover .prev,.slideshow:hover .next{opacity:1;}
.slideshow .prev:focus,.slideshow .next:focus{opacity:1;outline:none;}
.slideshow .info{user-select:none;width:50%;position:absolute;bottom:0;padding:30px;z-index:200;}
.slideshow .title{color:#fff;text-shadow:1px 1px 1px rgba(0,0,0,.6);text-transform:uppercase;font-weight:300;font-size:2.5rem;letter-spacing:1px;line-height:100%;}
.slideshow .subtext{color:#fff;text-shadow:1px 1px 1px rgba(0,0,0,.6);font-weight:300;font-size:1.8rem;}
.slideshow .button{box-shadow:1px 1px 1px rgba(0,0,0,.6);font-weight:300;font-size:2rem;padding:5px 15px;display:inline-block;border-radius:3px;margin:10px 0 0;text-transform:uppercase;border:1px solid #fff;background:rgba(0,0,0,.2);color:#fff;text-shadow:1px 1px 1px rgba(0,0,0,.6);}
.slideshow .button:hover{box-shadow:2px 2px 2px rgba(0,0,0,.4);background:rgba(0,0,0,.1);text-shadow:2px 2px 2px rgba(0,0,0,.4);}
.slideshow .info_right .info{right:0;text-align:right;}
.slideshow .info_left .info{left:0;}
.slick-dots > li:only-child{display:none;}
    @media (max-width 900px) {
    .slideshow{border-radius:0;}
    .slideshow .info{width:100%;padding:10px 30px 10px 10px;}
    .slideshow .info_right{text-align:left;}
    .slideshow .title{font-size:3rem;font-weight:500;}
    .slideshow .subtext{font-size:2rem;}
    .slideshow .button{display:none;}
    }
    @media (max-width 600px) {
    .slideshow .prev{opacity:.9;padding:8px 14px;font-size:1.8rem;}
    .slideshow .next{opacity:.9;padding:8px 14px;font-size:1.8rem;}
    .slideshow .title{font-size:1.4rem;font-weight:500;}
    .slideshow .subtext{font-size:1rem;}
    .slideshow .slick-dots{position:absolute;bottom:auto;top:0;right:0;left:0;margin:0 auto;padding:4px;}
    }

/*Main Content*/
.content{width:100%;max-width:1200px;min-height:80vh;margin:0 auto;padding:0 10px;position:relative;overflow:hidden;}
    @media (max-width 640px) {
    .content img{float:none!important;margin:0 auto!important;}
    }

.content_columns{display:flex;flex-flow:row wrap;justify-content:space-between;}
.content_columns .main{padding:0 10px 0 0;max-width:800px;}
.content_columns .sidebar{padding:0 0 0 10px;width:300px;}
.content_columns .sidebar .section{margin:0 0 30px;background:#fff;overflow:hidden;border-radius:3px;font-size:1.6rem;}
.content_columns .sidebar .section .heading{display:block;color:#fff;text-transform:uppercase;font-size:1.5rem;padding:10px;background:#ef4538;}
.content_columns .sidebar .section .group{padding:15px;font-size:1.4rem;}
    @media (max-width 900px) {
    .content_columns{display:block;}
    .content_columns .main{padding:0;}
    .content_columns .sidebar{padding:0;width:100%;}
    }

/*Intro Text*/
.intro_text .contents{text-align:center; max-width:1180px;}
.intro_text .buttons{margin: 3em 0 0 0;}

/*Features*/
.features .group{overflow:hidden;margin:0 -10px;display:flex;flex-flow:row wrap;}
.features .item{position:relative;overflow:hidden;margin:10px;width:calc(33.333% - 20px);}
.features .item a{text-decoration:none;display:block;color:inherit;}
.features .item .image img{width:100%;height:auto;}
.features .item .bar{width:100%;padding:10px 0;text-align:center;}
.features .item .title{font-size:2rem;margin:0;text-transform:uppercase;font-weight:400;}
.features .item .description{font-size:1.3rem;text-transform:uppercase;font-weight:400;}
.features .item:hover .image{opacity:.9;}
    @media (max-width 768px) {
    .features{margin:20px -10px;}
    .features .item .bar{position:relative;bottom:auto;padding:10px;background:#f8f8f8;color:#434343;display:flex;flex-flow:column;justify-content:center;}
    .features .item .title{font-size:1.6rem;font-weight:500;margin:0 0 4px;}
    .features .item .description{font-size:1.4rem;}
    }
    @media (max-width 640px) {
    .features{margin:10px auto;}
    .features .item{width:100%;margin:0 0 8px;}
    .features .item a{display:flex;color:#434343;}
    .features .item .image{width:25%;}
    .features .item .bar{width:75%;}
    }

/*Slide Box*/
.slide_blocks .contents{max-width: none; padding-left:0; padding-right: 0;}
.slide_blocks .group{display:flex; flex-flow:row wrap;}
.slide_blocks .item{width: 100%; text-decoration:none; display:flex; flex-flow: row-reverse wrap; color:inherit; position:relative; background: #fff; overflow:hidden;}
.slide_blocks .item .image{width:60vw}
.slide_blocks .item .image img{width:100%; height:auto;}
.slide_blocks .item .bar{width:calc(100% - 60vw); padding:3em; background: #fff; display:flex; flex-flow:column wrap; justify-content: center;}
.slide_blocks .item .title{font-size: calc(2.0rem + (35 - 20) * ((100vw - 400px) / (1200 - 400))); margin: 0 0 .25em 0; font-weight: 700; text-transform: uppercase; line-height: 1; color:hsl(180, 45%, 9%);}
.slide_blocks .item .description{font-size: calc(1.3rem + (16 - 13) * ((100vw - 400px) / (1200 - 400))); line-height: 1.6;}
.slide_blocks .buttons{margin-top:2em;}
.slide_blocks .item:hover .image{opacity:.9;}
.slide_blocks .item:nth-of-type(even){flex-flow: row wrap;}
.slide_blocks .item:nth-of-type(even) .bar{background:#1d5b94;}
.slide_blocks .item:nth-of-type(even) .button{background:#fff; color:#000;}
.slide_blocks .item:nth-of-type(even) .title{color: #fff;}
.slide_blocks .item:nth-of-type(even) .description{color:#fff}

/* Slide Box Animations */
.slide_blocks .item {transition: 500ms ease;}
.slide_blocks .item{opacity: 0; transform: translateY(15%);}
.slide_blocks .item.active {opacity: 1; transform: translateY(0);} 

    @media (max-width: 900px) {
    .slide_blocks .item .image{width:100%}
    .slide_blocks .item .bar{width:100%; padding:2em;}
    }

/*Upcoming Events*/
.upcoming_events .group{display:flex; flex-flow:row wrap;}
.upcoming_events .item{width: 100%; text-decoration:none; display:flex; flex-flow: row wrap; color:inherit; position:relative; background: #fff; overflow:hidden;}
.upcoming_events .item a{color:inherit; text-decoration: none;}
.upcoming_events .item .cover{width:40vw}
.upcoming_events .item .cover img{width:100%; height:auto;}
.upcoming_events .item .info{width:calc(100% - 40vw); padding:3em; background: #fff; display:flex; flex-flow:column wrap; justify-content: center;}
.upcoming_events .item .title{font-size: calc(2.0rem + (35 - 20) * ((100vw - 400px) / (1200 - 400))); margin: 0 0 .25em 0; font-weight: 700; text-transform: uppercase; line-height: 1; color:hsl(180, 45%, 9%);}
.upcoming_events .item .description{font-size: calc(1.3rem + (16 - 13) * ((100vw - 400px) / (1200 - 400))); line-height: 1.6;}
.upcoming_events .buttons{margin-top:2em; color:#fff}

/* Slide Box Animations 
.upcoming_events .item {transition: 500ms ease;}
.upcoming_events .item{opacity: 0; transform: translateY(15%);}
.upcoming_events .item.active {opacity: 1; transform: translateY(0);} */

    @media (max-width: 900px) {
    .upcoming_events .item .image{width:100%}
    .upcoming_events .item .info{width:100%; padding:2em;}
    }

/*Newsletter*/
.newsletter_signup{background: #eaeaea;}
.newsletter_signup .contents{padding: 2em}
.newsletter_signup .group{display:flex; flex-flow:row wrap; align-items:center; justify-content:center;}
.newsletter_signup h2{width:auto; margin: 0; text-align: center; }
.newsletter_signup p{width:100%; text-align: center; margin: 1em 0 0 0; font-size:1.3rem; color:#525252;}
.newsletter_signup form{display:flex; flex-flow:row wrap; align-items:center; justify-content:center; padding:0 0 0 1em}
.newsletter_signup input[type="email"]{padding:1em; border:0; border-radius:4px; font-size:inherit; margin:0 .5em;}

/* Large Gallery */
.large_gallery .group{display:flex;align-items:center;flex-flow:row wrap;}
.large_gallery .group .item{flex-grow:0;flex-shrink:0;width:calc(25% - 10px);margin:5px;overflow:hidden;transition:200ms ease;position:relative;}
.large_gallery .group .item img{width:100%;transition:200ms ease;}
.large_gallery .group .item:hover img{transform:scale(1.08);opacity:.85;}
.large_gallery .group .item a{text-decoration:none;}
.large_gallery .group .item.gallery_video a:before{content:'\f04b';font-family:"Font Awesome 5 Pro";font-weight:900;font-style:normal;text-decoration:inherit;color:#fff;text-shadow:0 2px 0 rgba(0,0,0,.5);font-size:4rem;z-index:100;position:absolute;width:calc(100%-20px);padding:10px;height:calc(100%-20px);display:flex;align-items:flex-end;justify-content:flex-end;}

/* Alt Rows */
.alt_rows{}
.alt_rows .item{margin:0 0 40px;overflow:hidden;}
.alt_rows .item .image{float:left;width:400px;}
.alt_rows .item .image img{width:100%;height:auto;display:block;}
.alt_rows .item .text{float:right;width:calc(100% - 440px);}
.alt_rows .item:nth-of-type(even) .image{float:right;}
.alt_rows .item:nth-of-type(even) .text{float:left;}
    @media (max-width 900px) {
    .alt_rows .item .image{float:none;width:100%;max-width:500px;margin:0 auto;}
    .alt_rows .item .text{float:none;width:100%;padding:10px;}
    .alt_rows .item:nth-of-type(even) .image{float:none;}
    .alt_rows .item:nth-of-type(even) .text{float:none;}
    }

/*Search Results*/
.simplesearch-paging{margin:0 0 10px;}
.simplesearch-paging .simplesearch-result-pages{margin:0 5px 0 0;}
.simplesearch-results-list{padding:10px 0;}
.simplesearch-results-list .simplesearch-result{display:flex;flex-flow:row wrap;background:#fff;position:relative;padding:10px;border:1px solid #ccc;margin:0 0 10px;}
.simplesearch-results-list .simplesearch-result .type{color:#ccc;font-size:12px;position:absolute;top:0;right:0;padding:4px;text-align:right;text-transform:uppercase;}
.simplesearch-results-list .simplesearch-result .image{width:130px;}
.simplesearch-results-list .simplesearch-result .image .caption{display:none;}
.simplesearch-results-list .simplesearch-result .info{width:calc(100%-140px);padding:0 0 0 10px;}
.simplesearch-results-list .simplesearch-result .title{font-size:15px;}
.simplesearch-results-list .simplesearch-result .date{font-size:12px;color:rgba(0,0,0,.5);}
.simplesearch-results-list .simplesearch-result p{margin:0;color:rgba(0,0,0,.7);}
.simplesearch-results-list .simplesearch-highlight{background:#ffc200;padding:0 4px;}
    @media (max-width 640px) {
    .simplesearch-results-list .simplesearch-result .type{display:none;}
    .simplesearch-results-list .simplesearch-result .image{width:100%;margin:0 0 5px;}
    .simplesearch-results-list .simplesearch-result .info{width:100%;}
    }

/* Contact */
.contact_layout{display:flex;flex-flow:row wrap;justify-content:center;align-items:center;padding:20px 0 0;}
.contact_layout .info_wrap{width:100%;display:flex;flex-flow:row wrap;background:#fff;}
.contact_layout .info_wrap .info{width:50%;padding:40px;background:rgba(255,255,255,0.08);}
.contact_layout .info_wrap .info a{color:#4e4e4e;}
.contact_layout .info_wrap .info .section{margin:0 0 20px;font-size:1.4rem;}
.contact_layout .info_wrap .info .section .heading{text-transform:uppercase;font-size:1.3rem;letter-spacing:1px;color:rgba(0,0,0,.7);}
.contact_layout .info_wrap .info .section .social a{margin:0 10px 0 0;text-decoration:none;font-size:2.2rem;}
.contact_layout .info_wrap .form{width:50%;padding:40px;border-left:1px solid rgba(0,0,0,0.04);}
.contact_layout .map{display:flex;flex-flow:row wrap;justify-content:center;align-items:center;padding:40px 0 20px;margin:40px 0 0;width:100%;position:relative;}
.contact_layout .map:before{content:'';display:block;width:70%;height:1px;background:#d8d8d8;top:0;left:0;right:0;margin:0 auto;position:absolute;}
    @media (max-width 960px) {
    .contact_layout .info_wrap .info{width:40%;padding:20px;}
    .contact_layout .info_wrap .form{width:60%;padding:20px;}
    }
    @media (max-width 640px) {
    .contact_layout .info_wrap .info{width:100%;}
    .contact_layout .info_wrap .form{width:100%;}
    }

/* Blog: Layout */
.blog_layout{display:flex;flex-flow:row wrap;justify-content:space-between;width:100%;max-width:1200px;margin:0 auto;}
#blog_list .blog_layout .main{padding:0 10px 0 0;max-width:800px;}
#blog_list .blog_layout .sidebar{padding:0 0 0 10px;width:300px;}
#blog_list .blog_layout .sidebar .section{margin:0 0 30px;background:#fff;overflow:hidden;border-radius:3px;font-size:1.6rem;}
#blog_list .blog_layout .sidebar .section .heading{display:block;color:#fff;text-transform:uppercase;font-size:1.5rem;padding:10px;background:#ef4538;}
#blog_list .blog_layout .sidebar .section .group{padding:15px;font-size:1.4rem;}
#blog_list .blog_layout .blog_bar{display:none;}
#blog_list .post_cards{display:none;}
    @media (max-width 900px) {
    #blog_list .blog_layout .main{padding:0;max-width:none;}
    #blog_list .blog_layout .sidebar{padding:0;width:100%;}
    }
#blog_card .blog_layout .main{width:100%;}
#blog_card .blog_layout .blog_bar{width:100%;font-size:1.6rem;display:flex;justify-content:space-between;background:#fff;align-items:center;margin:20px 0;padding:20px;}
#blog_card .blog_layout .blog_bar .section .heading{display:none;}
#blog_card .blog_layout .blog_bar .section .group{font-size:1.4rem;}
#blog_card .blog_layout .blog_bar .select{position:relative;}
#blog_card .blog_layout .blog_bar .select select{border-radius:2px;border:1px solid #ddd;background:#fbfbfb;outline:0;width:100%;font-size:1.4rem;padding:8px 30px 8px 8px;color:#4e4e4e;cursor:pointer;appearance:none;-webkit-appearance:none;-moz-appearance:none;}
#blog_card .blog_layout .blog_bar .select::after{content:'\f0d7';font-family:"Font Awesome 5 Pro";position:absolute;background:none;height:100%;cursor:pointer;outline:0;border:0;color:#5b5b5b;top:50%;right:0;padding:0 10px;line-height:100%;font-size:1.2rem;transform:translateY(-50%);display:flex;align-items:center;pointer-events:none;olor:rgba(78,78,78,.8);cursor:pointer;appearance:none;-webkit-appearance:none;-moz-appearance:none;}
#blog_card .blog_layout .sidebar{display:none;}
#blog_card .post_list{display:none;}

/* Blog: Post List View */
.post_list .item{margin:0 0 15px;background:#fff;padding:15px;display:flex;flex-flow:row wrap;}
.post_list .item a{text-decoration:none;display:block;color:inherit;}
.post_list .item .cover{width:280px;overflow:hidden;}
.post_list .item .cover img{width:100%;transition:all .3s cubic-bezier(.25,.8,.25,1);}
.post_list .item .cover img:hover{transform:scale(1.08);}
.post_list .item .caption{display:none;}
.post_list .item .cover + .info{padding:0 0 0 15px;}
.post_list .item .info{width:calc(100% - 280px);}
.post_list .item .title{font-size:1.8rem;margin:0 0 5px;font-weight:500;}
.post_list .item .summary{color:rgba(0,0,0,.6);font-size:1.3rem;line-height:1.6;}
.post_list .post_meta{margin:0 0 5px;font-size:1rem;color:#4e4e4e;display:flex;flex-flow:row wrap;text-transform:uppercase;}
.post_list .post_meta > div{margin:0 10px 0 0;}
.post_list .post_meta i{color:#ababab;margin:0 4px 0 0;font-size:1.2rem;}
.post_list .item .post_meta .tags a{color:#4e4e4e;text-decoration:none;display:inline-block;margin:0 4px 0 0;text-transform:uppercase;}
.post_list .item .post_meta .tags a:hover{text-decoration:underline;}
    @media (max-width 640px) {
    .post_list .item{display:block;}
    .post_list .item .cover{width:100%;margin:0 0 10px;}
    .post_list .item .info{width:100%;padding:0;}
    }

/* Blog: Post Card View */
.post_cards{overflow:hidden;display:flex;flex-flow:row wrap;margin:0 -10px;}
.post_cards .item{margin:0 10px 20px;background:#fff;border-radius:3px;width:calc(33.333% - 20px);transition:all .2s ease-in-out;}
.post_cards .item .cover{margin:0 auto;overflow:hidden;}
.post_cards .item .cover img{width:100%;transition:all .3s cubic-bezier(.25,.8,.25,1);}
.post_cards .item .cover img:hover{transform:scale(1.08);}
.post_cards .item .cover .caption{display:none;}
.post_cards .item .info{padding:0 15px;}
.post_cards .item .title{font-size:1.8rem;padding:15px 0 0;}
.post_cards .item .title a{text-decoration:none;}
.post_cards .item .title a:hover{text-decoration:underline;}
.post_cards .item .post_meta{margin:5px 0;font-size:1rem;color:#4e4e4e;display:flex;flex-flow:row wrap;text-transform:uppercase;}
.post_cards .item .post_meta > div{margin:0 10px 0 0;}
.post_cards .item .post_meta i{color:#ababab;margin:0 4px 0 0;font-size:1.2rem;}
.post_cards .item .post_meta .tags a{color:#4e4e4e;text-decoration:none;display:inline-block;margin:0 4px 0 0;text-transform:uppercase;}
.post_cards .item .post_meta .tags a:hover{text-decoration:underline;}
.post_cards .item .summary{padding:15px 0;color:rgba(0,0,0,.6);font-size:1.3rem;border-top:#eee 1px solid;line-height:1.6;margin:15px 0 0;}
.post_cards .item .more{font-size:12px;}
    @media (max-width 768px) {
    .post_cards .item{width:calc(50% - 20px);}
    }
    @media (max-width 650px) {
    .post_cards .item{width:calc(100% - 20px);}
    }

/* Blog: Post Pagination*/
.pagination{padding:1em 0 0;}
.pagination li{display:inline-block;list-style:none;padding:0 .5em 0 0;}
.pagination li a{text-decoration:none;color:#00489d;}
.pagination li a.active{font-weight:600;border-bottom:red 3px solid;padding:0 1px;}

/* Blog: Post List Widget */
.post_list_widget .group{overflow:hidden;display:flex;flex-flow:row wrap;}
.post_list_widget a{text-decoration:none;display:block;color:inherit;}
.post_list_widget .item{margin:0 10px 20px;background:#fff;border-radius:3px;width:calc(33.333% - 20px);transition:all .2s ease-in-out;}
.post_list_widget .item .cover{margin:0 auto;overflow:hidden;}
.post_list_widget .item .cover img{width:100%;transition:all .3s cubic-bezier(.25,.8,.25,1);}
.post_list_widget .item .cover img:hover{transform:scale(1.08);}
.post_list_widget .item .cover .caption{display:none;}
.post_list_widget .item .info{padding:0 15px;}
.post_list_widget .item .title{font-size:1.8rem;padding:15px 0 0;}
.post_list_widget .item .title a{text-decoration:none;}
.post_list_widget .item .title a:hover{text-decoration:underline;}
.post_list_widget .item .post_meta{margin:5px 0;font-size:1rem;color:#4e4e4e;display:flex;flex-flow:row wrap;text-transform:uppercase;}
.post_list_widget .item .post_meta > div{margin:0 10px 0 0;}
.post_list_widget .item .post_meta i{color:#ababab;margin:0 4px 0 0;font-size:1.2rem;}
.post_list_widget .item .post_meta .tags a{color:#4e4e4e;text-decoration:none;display:inline-block;margin:0 4px 0 0;text-transform:uppercase;}
.post_list_widget .item .post_meta .tags a:hover{text-decoration:underline;}
.post_list_widget .item .summary{padding:15px 0;color:rgba(0,0,0,.6);font-size:1.3rem;border-top:#eee 1px solid;line-height:1.6;margin:15px 0 0;}
.post_list_widget .item .more{font-size:12px;}
    @media (max-width 768px) {
    .post_list_widget .item{width:calc(50% - 20px);}
    }
    @media (max-width 650px) {
    .post_list_widget .item{width:calc(100% - 20px);}
    }

/* Blog: Sidebar Search*/
.sidebar_search{user-select:none;position:relative;overflow:hidden;}
.sidebar_search button{position:absolute;background:none;height:100%;cursor:pointer;outline:0;border:0;color:#222;top:50%;right:0;padding:0 10px;line-height:100%;font-size:1.2rem;transform:translateY(-50%);}
.sidebar_search input{border-radius:2px;border:1px solid #ddd;background:#fbfbfb;outline:0;width:100%;font-size:1.4rem;padding:8px 30px 8px 8px;color:#4e4e4e;font-style:italic;}

/* Blog: Popular Posts*/
.sidebar_popular_posts{}
.sidebar_popular_posts .item{margin:0 0 10px;padding:0 0 10px;border-bottom:1px solid #ccc;transition:padding .2s ease;}
.sidebar_popular_posts .item:hover{padding-left:5px;}
.sidebar_popular_posts .item:last-child{border:0;margin:0;padding-bottom:0;}
.sidebar_popular_posts .item a{display:flex;text-decoration:none;color:#4e4e4e;}
.sidebar_popular_posts .item .cover{margin:0 10px 0 0;min-width:60px;}
.sidebar_popular_posts .item .cover img{width:100%;height:auto;display:block;}
.sidebar_popular_posts .item .info{line-height:100%;}
.sidebar_popular_posts .item .title{font-size:1.3rem;font-weight:500;margin:0 0 4px;}
.sidebar_popular_posts .item .post_meta{margin:5px 0;font-size:1rem;color:#4e4e4e;display:flex;flex-flow:row wrap;text-transform:uppercase;}
.sidebar_popular_posts .item .post_meta > div{margin:0 10px 0 0;}
.sidebar_popular_posts .item .post_meta i{color:#ababab;margin:0 4px 0 0;font-size:1.2rem;}

/* Blog: Categories/Tags*/
.sidebar_post_categories a{color:#4e4e4e;text-decoration:none;border:#ececec 1px solid;padding:2px 4px;border-radius:2px;display:inline-block;margin:0 4px 4px 0;background:#f8f8f8;text-transform:uppercase;font-size:1.2rem;}
.sidebar_post_categories a:hover{background:#fff;}
.sidebar_post_categories i{color:#4e4e4e;margin:0 4px 0 0;}

/* Blog: Post "Back" Link*/
.feed_return{margin:0 0 10px;display:none;}

/* Blog: Post Intro */
.post_intro .post_meta{margin:0 0 10px;font-size:.6875em;color:#4e4e4e;display:flex;flex-flow:row wrap;text-transform:uppercase;}
.post_intro .post_meta > div{margin:0 10px 0 0;}
.post_intro .post_meta i{color:#ababab;margin:0 4px 0 0;font-size:1.25em;}
.post_intro .post_meta .tags a{color:#4e4e4e;text-decoration:none;border:#ececec 1px solid;padding:2px 4px;border-radius:2px;display:inline-block;margin:0 4px 4px 0;background:#f8f8f8;text-transform:uppercase;}
.post_intro .post_meta .tags a:hover{background:#fff;}

/* Blog: Post Detail */
.post_detail{padding:0 0 80px;}
.post_detail > .cover{margin:0 0 20px;}
.post_detail > .cover img{width:100%;height:auto;display:block;}
.post_detail > .cover .caption{font-size:1.2rem;color:#afafaf;font-style:italic;padding:4px;text-align:right;}

/* Blog: Next Post */
.next_post{position:relative;}
.next_post:before{content:"";width:80px;height:1px;background:#ddd;display:block;margin:40px auto;}
.next_post .heading{text-transform:uppercase;margin:0 0 2px;}
.next_post .item{margin:0 0 20px;padding:0 0 20px;border-bottom:1px solid #ccc;display:flex;}
.next_post .item:last-child{border:0;}
.next_post .item a{text-decoration:none;}
.next_post .item .cover{width:200px;margin:0 10px 0 0;min-width:180px;overflow:hidden;}
.next_post .item .cover img{width:100%;transition:all .3s cubic-bezier(.25,.8,.25,1);}
.next_post .item .cover img:hover{transform:scale(1.08);}
.next_post .item .cover .caption{display:none;}
.next_post .item .info{}
.next_post .item .title{font-size:1.8rem;margin:0 0 5px;font-weight:500;}
.next_post .item .title a{text-decoration:none;}
.next_post .item .summary{font-size:1.4rem;font-weight:300;line-height:1.468em;margin:0 0 5px;}
.next_post .item .post_meta{margin:0 0 10px;font-size:1.2rem;color:#4e4e4e;display:flex;flex-flow:row nowrap;}
.next_post .item .post_meta .date{margin:0 10px 0 0;}
.next_post .item .post_meta .author{margin:0 10px 0 0;}
.next_post .item .post_meta .read_time{margin:0 10px 0 0;}
.next_post .item .post_meta .views{margin:0 10px 0 0;}
.next_post .item .post_meta i{color:#ababab;margin:0 4px 0 0;font-size:1.25rem;}
.next_post .item .post_meta .tags a{color:#4e4e4e;text-decoration:none;display:inline-block;margin:0 4px 0 0;text-transform:uppercase;}
.next_post .item .post_meta .tags a:hover{text-decoration:underline;}
    @media (max-width 640px) {
    .next_post .item{display:block;}
    .next_post .item .cover{margin:0 0 10px;}
    }

/* Formstack Color Settings */
.fsBody .fsForm input[type=submit]{background:#ef4538!important;color:#fff!important;padding:1em 1.5em!important;border-radius:.25em!important;}
.fsBody .fsForm input[type=submit]:hover{background:#ef4538!important;}
.fsBody .fsForm .fsField[type="radio"]:checked,.fsBody .fsForm .fsField[type="checkbox"]:checked{border-color:#ef4538!important;}
.fsBody .fsForm .fsField[type="radio"]::before,.fsBody .fsForm .fsField[type="checkbox"]::before{background:#ef4538!important;}
.fsBody .fsForm .fsField[type="radio"]::after{background:#fff!important;}
.fsBody .fsField[type="checkbox"]::after{color:#fff!important;}
.fsBody .fsForm .fsField:focus{border-color:#ef4538!important;background:#fbfbfb!important;outline:none;}

/* Formstack Styling */
.fsPage{max-width:500px;}
.fsBody *{font-family:inherit!important;font-size:inherit!important;color:inherit!important;line-height:inherit!important;}
.fsBody .fsSection:not(:last-of-type){border-bottom:1px solid #ccc;padding-bottom:2em;margin-bottom:2em;}
.fsBody .fsSectionHeader{background:transparent;}
.fsBody .fsSectionHeading{font-size:2.8rem!important;font-weight:600;}
.fsBody .fsCell{position:relative;padding:0!important;margin:2em 0!important;}
.fsBody .fsLabel{display:block;margin:.5em 0;line-height:1!important;}
.fsBody .fsRequiredMarker{font-weight:600;margin-left:.25em;font-size:1.2rem!important;vertical-align:text-top;opacity:0.5;}
.fsBody .fsField,.fsBody input,.fsBody select,.fsBody textarea{position:relative;box-shadow:none;width:100%;max-width:none!important;padding:1rem!important;background:#fff;border:1px solid;border-color:#dee2e6!important;border-radius:.25em;-webkit-appearance:none;-moz-appearance:none;}
.fsBody textarea{resize:vertical;}
.fsBody .fsSubFieldGroup{margin-top:.5em;}
.fsBody .fsSubFieldGroup .fsSupporting{font-size:1.4rem!important;margin-bottom:.5em;line-height:1!important;}
.fsBody .fsSubField{display:flex;flex-flow:column-reverse;margin-top:.5em;}
.fsBody .fsSupporting{font-size:1.2rem!important;margin-top:.25em;}
.fsBody .fsPagination{text-align:left;}
.fsBody input[type=submit]{transition:250ms ease-in-out;width:auto;border:none;font-size:inherit!important;-webkit-appearance:none;-moz-appearance:none;cursor:pointer;}
.fsBody fieldset{margin:2rem 0 .25em;border:none;}
.fsBody fieldset .fsField{width:auto;margin-right:.5em;}
.fsBody .fsOptionLabel{display:flex;align-items:center;margin:.5em;}
.fsBody .fieldset-content{margin-left:.5em;}
.fsBody .fsCreditcardNumberField-icon{z-index:2;}
.fsBody .fsFieldAddress2{margin-top:.5em!important;}
.fsBody table{width:100%;}
.fsBody .fsForm table .fsMatrixLabelRow.fsMatrixLabelRow,.fsBody table th{text-align:left;}
.fsBody .fsForm table .fsMatrixLabel,.fsBody table td{text-align:center;padding:.25em 0;font-weight:inherit;}
.fsBody .fsField::after,.fsBody .fsField::before{content:'';position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;}
.fsBody .fsForm .fsField[type="radio"],.fsBody .fsForm .fsField[type="checkbox"]{position:relative;cursor:pointer;}
.fsBody .fsForm .fsField[type="radio"]::after,.fsBody .fsForm .fsField[type="checkbox"]::after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;}
.fsBody .fsField[type="radio"],.fsBody .fsField[type="radio"]::before{border-radius:50%!important;overflow:hidden;}
.fsBody .fsField[type="radio"]::before,.fsBody .fsField[type="checkbox"]::before{content:'';position:absolute;max-width:80%;max-height:80%;border-radius:.15em;display:flex;align-items:center;justify-content:center;top:10%;left:10%;}
.fsBody .fsField[type="checkbox"]::after{content:'\f00c'!important;font-family:'Font Awesome 5 Pro'!important;display:flex;align-items:center;justify-content:center;font-size:1.1rem;font-weight:900;}
.fsBody .fsField[type="radio"]:hover::after,.fsBody .fsField[type="checkbox"]:hover::after{opacity:0.5;}
.fsBody .fsForm .fsField[type="radio"]:checked::before,.fsBody .fsForm .fsField[type="checkbox"]:checked::before,.fsBody .fsForm .fsField[type="checkbox"]:checked::after{opacity:1;}
.fsBody .fsFieldState{position:relative;}
.fsBody .fsCell[fs-field-type="select"]{cursor:pointer;}
.fsBody .fsCell[fs-field-type="select"]::after,.fsBody .fsFieldState::after{content:'\f0d7';position:absolute;right:.5em;bottom:12px;font-family:'Font Awesome 5 Pro'!important;}
.fsBody .fsCell[fs-field-type="address"] .fsSubFieldGroup{display:flex;align-items:center;flex-flow:row wrap;margin:0 -.5em;}
.fsBody .fsCell[fs-field-type="address"] .fsSubFieldGroup > div{flex:1;margin:.5em;min-width:150px;}
.fsBody .fsCell[fs-field-type="datetime"] .fieldset-content,.fsBody .fsForm .fsCell[fs-field-type="datetime"] .always-ltr{display:flex;flex-flow:row wrap;width:100%;margin:.5em 0 0;}
.fsBody .fsCell[fs-field-type="datetime"] .fieldset-content > select,.fsBody .fsForm .fsCell[fs-field-type="datetime"] .always-ltr > select{flex:1;min-width:125px;}
.fsBody .fsCell[fs-field-type="datetime"] .always-ltr span{display:none;}
.fsBody .fsCell[fs-field-type="datetime"] .ui-datepicker-trigger{display:none;}
.fsBody .fsError{width:100%;margin:1em 0;padding:1em;}
.fsBody .fsValidationError{background:none;}
.fsBody .fsValidationError input{color:red!important;border:red 1px solid!important;}
.fsBody .fsValidationError .fsLabel{padding-left:0!important;background-image:none!important;}

/*Footer*/
.footer{background:#58a0ca;}
.footer .contents{overflow:hidden; padding: 0; font-size:1.2rem;text-align:center;color:#fff;}
.footer a{color:#fff;}
.footer .social{margin:20px auto;font-size:2rem;display:flex;justify-content:center;}
.footer .social a{margin:0 5px;position:relative;border-radius:50%; background:#1e5b94;display:flex;align-items:center;justify-content:center;padding:5px;color:#fff;text-decoration:none;width:2em;}
.footer .social a:after{content:"";display:block;padding-bottom:100%;}
.footer .social a:hover{background:rgba(0,0,0,.6);}
.footer .address{margin:0 auto 5px;}
.footer .contact{margin:0 auto 5px;}
.footer .copyright{margin:0 auto 5px;}
.footer .ewd{margin:1em auto;width:150px;}
.footer .ewd img{width:100%;}